<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized.

###### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

### **Objectives:**

- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

#### Some of the popular languages that Data Scientists use are: 

1. Python 
2. R
3. SQL

#### Some of the popular languages that Data Scientists use are: 

1. Python 
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include: 

- Pandas
- Numpy
- Matplotlib
- Seaborn
- Scikit-learn
- Keras
- TensorFlow
- PyTorch
- Apache Spark
- Vegas
- Big DL
- Ggplot2

#### Some of the commonly used libraries used by Data Scientists include: 

- Pandas
- Numpy
- Matplotlib
- Seaborn
- Scikit-learn
- Keras
- TensorFlow
- PyTorch
- Apache Spark
- Vegas
- Big DL
- Ggplot2

| Data Science Tools | 
| ------ |
| Anaconda |
| Jupyter Notebooks |
| R Studio |
| Spyder |
| Zeppelin |

| Data Science Tools | 
| ------ |
| Anaconda |
| Jupyter Notebooks |
| R Studio |
| Spyder |
| Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to multiply then add intergers.

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours diving by 60.

200 // 60

3

## Author 

###### Dasom Park